// nav{
//     .navbar-brand{
//       img{
//         width: 24rem;
//         object-fit: contain;
//       }
//     }

//     .nav-link{
//       color: $white;
//       font-size: 1.14rem;
//       font-weight: 600;
//       margin: 0 1.2rem;

//       &:hover{
//         color: $primary;
//       }

//       @media (max-width: 992px) {
//         text-align: center;
//       }
//     }
// }


nav {
    background-image: url(/img/lawn-top.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 18px 60px;
    width: fit-content;
}

.menu-item ul {
    text-decoration: none;
    padding: 0 7rem;
}

.menu-item ul li {
    padding: 0 3rem;

}

.dropdown-menu {
    padding: 1.3rem 1rem !important;
    li {
        padding: 0rem !important;

        a {
            color: $dark !important;
        }
    }
}

.menu-item ul li:last-of-type {
    padding-right: 0px !important;
}

.menu-item ul li a {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    text-transform: capitalize;
    transition: .3s;
}

.menu-item ul li a:hover {
    color: #FFB3B3;
}

#active {
    color: #2C5848;
}